In [2]:
# The Dataset
# The dataset consists of id	season	episode	scene	line_text	speaker	deleted
# The information we need is the speaker and the line_text. The line_text consists of what we define as actions and lines.
# We want our bot to create lines and actions.
# In order to do that we need to analyse both the actions and lines of each character.
# To be able to do that we need to seperate them from eachother in the excel, since theyre both in the same cell right now.
# Task 1: Seperate line_text into Actions and Lines
# Task 2: Collect all the lines for each character
# Task 3: Collect all the actions for each character
# Task 4: Create Markov chains. and so on...

# The algorithm
# Import the Excel file
# Loop through all lines adding it to an array for each character;
    # while also adding everything within [] to the action array

In [120]:
# Import dataset in current directory
import pandas as pd
import os

directory = os.getcwd()
data = pd.read_excel(directory + '/the-office-lines.xlsx')
df =  pd.DataFrame(data, columns=['speaker', 'line_text'])

df.head()

   speaker                                          line_text
0  Michael  All right Jim. Your quarterlies look very good...
1      Jim         Oh, I told you. I couldn't close it. So...
2  Michael  So you've come to the master for guidance? Is ...
3      Jim         Actually, you called me in here, but yeah.
4  Michael    All right. Well, let me show you how it's done.

In [114]:
df['speaker'].index

RangeIndex(start=0, stop=59909, step=1)

In [84]:
df.iterrows()

In [122]:
# There are places in the data where multiple characters and irrelevant ones (sorry video and female worker) 
# Add the decided characters to the list
characters = ['Michael', 'Pam', 'Dwight', 'Jim']

# Iterate over the rows and check for the desired characters. If the row is from the character add the line
for index, row in df.iterrows():
    if row['speaker'] in characters:
        speaker = row['speaker']
        with open('%s' %speaker + '.txt', 'a') as f:
            f.write(row['line_text'])

# EITHER: Find the [] and take it out and save it in an array first then take the rest.
# OR: add everything first to each character and loop through the array after.

TypeError: write() argument must be str, not int